<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Текст вверху изображения на дополнительном расстоянии в 20 пикселей</p>
<img src="resources/111.png" align="left" width="195" height="157" hspace="50" vspace="20" />
<p>Текст справа от изображения на дополнительном расстоянии в 50 пикселей</p>
<p>Текст</p>
<p>Текст</p>
<p>Текст</p>
<p>Текст</p>
<p>Текст</p>
<p>Текст внизу изображения на доболнительном расстоянии в 20 пикселей</p>
</body>
</html>