<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Инструктор Кекс</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <style>
body {
<!--  background-image: url(img/keks-background.jpg);-->
}
</style>
</head>

<body >
<div class="container">
    <header class="site-header">
        <h1>Завел Юлю</h1>
        <p>Котрая на самом деле Кот</p>
        <img src="img/keks.png">
    </header>

    <section class="features">
        <h2>Почему Кот?</h2>
        <p class="feature-kitten">Можно тискать и жмякать</p>
        <p class="feature-train">Вкусная еда каждый день</p>
        <p class="feature-cat">Добрая и отзывчивая</p>
    </section>

    <section class="skills">
        <h2>Как она вредничает</h2>
        <ul class="skills-list">
            <li class="skills-item">стаскивает одеяло по ночам</li>
            <li class="skills-item standart">давит прыщи</li>
            <li class="skills-item standart">тырит картоху</li>
            <li class="skills-item vip">забирает мои носки</li>
            <li class="skills-item vip">чуть шо убегает и тип такая лежит на боку и ждет когда я приду успокаивать</li>
        </ul>
    </section>

    <footer class="site-footer">
        <p></p>
        <p>P.S. Доброе утро Коть)</p>
    </footer>
</div>
</body>
</html>